body
{
font-family: 'Roboto Condensed', sans-serif;
}
h1
{
	margin: 0px;
	font-size: 400%;
	font-weight: 300;
}
header
{
background-color: #D7CCC8;
color: black;
padding-top: 4%;
padding-left: 1%;
width:100%;
}

div{
	width:98%;
	text-align: left;
	background: #EFEBE9;
	padding-top: 2% ;
	padding-bottom:2%;
    padding-left:1.5%;
    font-size :200%;
    border: 1px solid #D7CCC8;
    margin: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    box-shadow: -2px 2px 0px 1px #D7CCC8;
}