body
{
font-family: 'Roboto Condensed', sans-serif;
}
h1
{
	margin: 0px;
	font-size: 400%;
	font-weight: 300;
}
header
{
background-color: #D7CCC8;
color: black;
padding-top: 4%;
padding-left: 1%;
width:100%;
}

section>div{
	width:98%;
	background: #EFEBE9;
	border: 1px solid #D7CCC8;
    margin: 3%;
    box-shadow: -1px 1px 0px 1px #D7CCC8;
    padding: 1%;
}

img{
	margin-top: 1%;
	height: auto;
	width: 20%;
}


span{
	font-size: 2em;
	font-weight: lighter;
}
