body {
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    margin: 0px;
    font-size: 400%;
    font-weight: 300;
}
header {
    background-color: #D7CCC8;
    color: black;
    padding-top: 4%;
    padding-left: 1%;
    width: 100%;
    -webkit-box-shadow: -7px 6px 27px -1px rgba(102, 102, 102, 1);
    -moz-box-shadow: -7px 6px 27px -1px rgba(102, 102, 102, 1);
    box-shadow: -7px 6px 27px -1px rgba(102, 102, 102, 1);
}
ul {
    padding: 0px;
}
ul > li {
    list-style-type: none;
    background: #EFEBE9;
    border: 1px solid #D7CCC8;
    margin: 10px;
    -webkit-box-shadow: -7px 6px 21px -5px rgba(102, 102, 102, 1);
    -moz-box-shadow: -7px 6px 21px -5px rgba(102, 102, 102, 1);
    box-shadow: -7px 6px 21px -5px rgba(102, 102, 102, 1);
    padding: 10px;
}
img {
    vertical-align: middle;
    height: 36px;
    width: 56px;
}
span {
    vertical-align: middle;
    font-size: 2em;
    font-weight: lighter;
}
